body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GothamMedium', sans-serif;
    font-size: 15px;
}
ul, li {
	display: block;
	padding: 0px;
	margin: 0px;
}
a {
    text-decoration: none;
    color: white;
}
.header {
    background: #FAA634;
}
.image {
    background: #426AB3;
    width: 315px;
}
.image img{
    width: 252px;
    display: block;
    padding: 21px 36px 13px 31px;
}
.menu {
    background: #6C8CC7;
    width: 315px;
    min-height: 100vh;
    font-size: 30px;
    color: white;
    padding-top: 47px;
    padding-left: 65px;
    box-sizing: border-box;
}
.menu div {
    display: flex;
}
.arrow {
    margin-left: 65px;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    display: block;
    margin-top: 7px;
    font-size: 26px;
}
.menu nav ul{
    font-size: 18px;
    font-family: 'GothamBook', sans-serif;
    height: 80px;
    border-left: 1px solid #ffffff80;
    margin-top: 13px;
    margin-left: 25px;
    padding: 2px 0;
    box-sizing: border-box;
}
.menu nav {
    height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
.menu nav.active {
    height: 98px;
}
.menu nav ul li a{
    width: 110px;
    height: 30px;
    margin-left: 11px;
    box-sizing: border-box;
    line-height: 30px;
    margin-bottom: 16px;
    text-align: left;
    padding-left: 9px;
    display: block;
}
.menu nav ul li a.active {
    background: rgba(66,106,179,0.2);
}
.content {
    display: grid;
    grid-template-columns: 0fr 1fr
}
.enroll .form_div {
    background: rgba(250, 166, 52, 1);
    width: 850px;
    height: 393px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0px 8px 30px #241c2920;
    border-radius: 4px;
}
.enroll .form_div form label {
    display: block;
}
.enroll .form_div form label {
    display: flex;
    justify-content: space-between;
    width: 728px;
    margin: 0 auto;
    margin-bottom: 40px;   
    align-items: center;
}
.verify {
    margin-bottom: 167px;
}
.enroll .form_div form label span,
.verify .form_div form label span {
    font-size: 24px;
}
.enroll .form_div form label span.required::after,
.verify .form_div form label span.required::after {
    content: "*";
    color: red;
    margin-left: 8px;
    font-size: 24px;
}
.enroll .form_div form label input,
.verify .form_div form label input {
    font-size: 18px;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-family: 'GothamMedium', sans-serif;
    padding: 15px;
    box-sizing: border-box;
}
.enroll .form_div form label input:focus,
.verify .form_div form label input:focus {
    outline: none;
}
.enroll .form_div form label input:disabled {
    background: #CCCCCC;
    color: #6C6969;
    cursor: text;
}
.enroll .form_div form label:first-child {
    padding-top: 54px;
}
.enroll .form_div form .hint,
.verify .form_div form .hint {
    text-align: center;
    font-size: 16px;
    font-family: 'GothamLight', sans-serif;
    color: white;
}
.enroll .form_div form .hint span,
.verify .form_div form .hint span {
    color: red;
}
.enroll .btns,
.verify .btns {
    width: 850px;
    margin-left: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.enroll .btns .btn,
.verify .btns .btn {
    text-align: center;
    background: #6C8CC7;
    color: white;
    box-shadow: 0px 4px 4px rgba(108, 140, 199, 0,1);
    width: 360px;
    height: 90px;
    font-size: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.verify .btns .btn {
    height: 70px;
    font-size: 30px;
}
.verify .form_div {
    background: rgba(250, 166, 52, 1);
    width: 800px;
    height: 393px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 0px 8px 30px #241c2920;
    border-radius: 4px;
}
.verify .form_div form label {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 33px;   
    align-items: center;
}
.verify .form_div form label:first-child {
    padding-top: 54px;
}
.verify .form_div form label input:disabled {
    background: rgba(224, 224, 224, 1);
    cursor: text;
    color: #6C6969;
}
.verify .form_div form label input.customSelect:disabled {
    background: white;
    color: rgba(204, 204, 204, 1);
    cursor: pointer;
}
.verify .form_div form label .arrowSelect {
    position: absolute;
    right: 10px;
    font-size: 23px;
    top: 7px;
    color: rgba(204, 204, 204, 1);
}
.customSelectLabel {
    position: relative;
}
.customSelect {
    color: #CCCCCC;
    cursor: pointer;
    width: 500px;
    background: white;
    height: 50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 18px;
}
.selectItemList {
    background: white;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 50px;
    width: 500px;
    overflow-y: scroll;
    max-height: 430px;
    z-index: 5;
}
.selectItemList li {
    padding: 8px 30px;
    font-size: 20px;
    cursor: pointer;

}
.selectItemList li:hover {
    background: #F1F1F1;
}
.selectItemList::-webkit-scrollbar-track {border-radius: 0px;}
.selectItemList::-webkit-scrollbar {width: 32px; background: #F1F1F1;}
.selectItemList::-webkit-scrollbar-thumb {border-radius: 0px;background: rgba(205, 205, 205, 1);}
.selectItemList:hover::-webkit-scrollbar-thumb {background: rgba(205, 205, 205, 1);}


.radioBlock .radio-wrapper {
    width: 50px;
    height: 28px;
    background: white;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.radioBlock .radio-circle{
    width: 22px;
    height: 21px;
    background: #faa634;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0px, -50%);
    z-index: 0;
    
}
.radioBlock .radio-wrapper.active{
    background: #6C8CC7;
}
.radioBlock .radio-circle.active {
    left: 24px;
}
.radioBlock .liveness {
    display: none;
}
.radioBlock {
    width: 500px;
}
.verify .form_div form label:nth-child(3) {
    margin-bottom: 20px;
}
.verify .btns {
    width: 800px;
    margin-top: 19px;
}
.non-filled-input {
    border: 1px solid red !important;
}
.enrollCamera {
    width: 750px;
    height: 646px;
    background: #6C8CC7;
    box-shadow: 0px 8px 30px rgba(36, 28, 41, 0.2);
    border-radius: 4px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 228px;
    position: relative;
    padding-top: 52px;
    box-sizing: border-box;
}
.enrollCamera .btn_close,
.statusContent .btn_close {
    width: 31px;
    height: 31px;
    background: rgba(250, 166, 52, 1);
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    border-radius: 1px;
}
.enrollCamera .btn_close img,
.statusContent .btn_close img {
    width: 76%;
}
.webcam {
    width: 420px;
    height: 420px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 36px;
    color: #6C6969;
    display: flex;
    align-items: center;
    justify-content: center;
}
.webcam video {
    z-index: 5;
}
.webcam span {
    position: absolute;
    z-index: 1;
}
.capture_btn {
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #FAA634;
    border-radius: 4px;
    box-shadow: 0px 8px 30px rgba(36, 28, 41, 0.2);
    font-size: 26px;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}
.camera {
    margin: 0 auto;
    display: block;
}
.capture_photo_btn {
    width: 300px;
    height: 50px;
    font-size: 28px;
}
.dropBlock section div{
    width: 420px;
    height: 420px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    background-image: url("../img/bg-border.png");
}
.dropdawn-hint,
.dropdawn-btn {
    margin: 0;
    padding: 0;
    color: #6C6969;
}
.dropdawn-hint {
    font-size: 24px;
    width: 170px;
    text-align: center;
    margin:  0 auto;
    padding-top: 166px;
}
.dropdawn-btn {
    width: 135px;
    height: 30px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 8px 30px rgba(36, 28, 41, 0.2);
    border: 1px solid #FAA634;
    margin: 0 auto;
    margin-top: 23px;
}
.uploadedImageName {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40px);
    color: #6C6969;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}
.enrollPhoto {
    height: 600px;
    box-sizing: border-box;
    margin-bottom: 274px;
}
.statusContent {
    width: 1000px;
    height: 700px;
    background: #6C8CC7;
    box-shadow: 0px 8px 30px rgba(36, 28, 41, 0.2);
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    margin-bottom: 174px;
}
.statusContent .statusMessage {
    font-size: 30px;
    padding-top: 282px;
    text-align: center;
    color: white;
    margin-bottom: 57px;
}
.statusContent .submitBtn {
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    width: 130px;
    height: 50px;
    background: #FAA634;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
}
.loader {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -200px);
}
.content-route-wrapper {
    position: relative;
}